* {
  text-align: center;
  font-family: Helvetica;
}

a, h1, #footer {
  color: white;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

#header, h1 {
  background-image: url("../media/the-flatiron-building.png");
}

p {
  font-size: 14px;
}
 nav p a {
   font-size: 18px;
 }

#footer {
  background-color: dimgray;
}

#footer p, #footer p a {
  text-align: left;
  font-size: 11px;
}
