html, a {
  font-size: 16px;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

header, footer, #mainheader, span{
  background-color: black;
}
 .container {
   width: 960px;
   margin: 0 auto;
}

/*header*/
#header {
  margin: .66rem auto;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: .5rem;
  margin-right: 1rem;
}

#header span {
  margin-top: .66rem;
  margin-bottom: .66rem;
}

#smallmobile {
  display: none;
}

/*main*/
#main {
  background-image: url('../images/moto.jpeg');
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
}

#mainheader {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

h1{
  font-size: 2rem;
  margin-top: .25rem;
}

/*nav*/
nav {
  background-color: firebrick;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav .container span {
  background: none;
}

#mobile {
  display: none;
}

/*products*/
.products {
  margin-top: 3rem;
}

.products .container {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 4px solid black;
  overflow: hidden;
}

.product img {
  height: 9rem;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 2rem auto;
}

.product span {
  padding-top: .5rem;
  padding-bottom: .25rem;
}

/*Info*/
#info .container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.top {
  height: 2em;
  padding-top: 1em;
  padding-left: 2em;
}

.bottom {
  color: black;
  background-color: white;
  margin-top: .15rem;
}

/*footer*/
footer {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  #desktop {
    display: flex;
  }

  #mobile {
    display: flex;
  }

  #mobile .container {
    justify-content: center;
  }

  #desktop {
    display: none;
  }

  #glasses {
    display: none;
  }

}

@media only screen and (min-width: 471px) and (max-width: 1024px) {
  .product {
    width: 47%;
  }

}

@media only screen and (max-width: 471px), (orientation: portrait) {
  .product {
    width: 90%;
  }

  #watch {
    display: none;
  }

  .product {
    margin: auto;
  }

  #mainheader {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  #main {
    height: 15rem;
  }

  h1 {
    font-size: 1rem;

  }

  h4 {
    font-size: .77rem;
  }

  #smallmobile {
    display: flex;
  }

  #desktoph {
    display: none;
  }

  #info .container {
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 90%;
    margin-bottom: .5rem;
  }

  footer .container {
    text-align: center;
  }
}
