header {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  height: 60px;
  border-bottom: solid 1px black;
  width: 100%;
  align-items: center;
}

header img {
  height: 50px;
  margin: auto 0;
}

h1 {
  color: aquamarine;
  font-size: 14px;
  margin: auto 0;
  margin-left: 10px;
}

#logo {
  display: flex;
  height: 60px;
}

span a {
  color: black;
}

span {
  display: inline-block;
  margin-right: 20px;
}

nav {
  margin-left: auto;
}
