/*.container, .small, .medium, .large{
  border: solid 1px black;
}*/

header {
  display: flex;
  font-family: Verdana;
  font-weight: bold;
  font-size: 14px;
  height: 90px;
  border-bottom: solid 1px black;
  width: 100%;
  align-items: center;
}

header img {
  height: 60px;
  margin: auto 0;
}

h1 {
  color: aquamarine;
  font-size: 14px;
  margin: auto 0;
  margin-left: 10px;
}

#logo {
  display: flex;
  height: 100%;
}

span a {
  color: black;
}

span {
  display: inline-block;
  margin-right: 20px;
}

nav {
  margin-left: auto;
}

.container {
  display: flex;
  /*width: 100%;*/
}

.container .large {
  width: 630px;
}

.container .medium {
  width: 300px;
}

.container .small {
  width: 240px;
}
